# Core dependencies
numpy~=2.2.6 # For numerical computations
pandas~=2.2.3 # For data manipulation and analysis
matplotlib~=3.10.3 # For plotting and visualization
seaborn>=0.11.0 # For statistical data visualization
scikit-learn~=1.6.1 # For machine learning algorithms
multiprocessing-logging>=0.3.1  # For proper logging with multiprocessing
joblib # For parallel processing and caching
scikit-optimize # For hyperparameter optimization

# Machine learning and deep learning
catboost  # For gradient boosting models
xgboost # For gradient boosting models

# Data processing
openpyxl>=3.0.0  # For Excel file support
scipy~=1.15.3 # For scientific computing
neurokit2>=0.2.11 # For processing ecg
PyWavelets>= 1.7.0   # For wavelet transforms
tqdm~=4.67.1 # For progress bars

#data analysis
shap # For model interpretability
